{% extends 'base.html' %}
{% load static %}


{% block stylesheets %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Load Bootstrap CSS and JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Set up some CSS for the map and modal -->
    

{% endblock stylesheets %}
  
{% block title %}
    Fire reports
{% endblock title %}
{% block reports_sidebar %}
  active
{% endblock reports_sidebar %}

{% block titre %}
Fire reports
{% endblock titre %}

{% block definition %}
    This page shows the history of the fire reports.
{% endblock definition %}


{% block chemin %}
    <li class="breadcrumb-item">
        <a href="/"> <i class="fa fa-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a href="#!">Dashboard</a>
    </li>
    <li class="breadcrumb-item"><a href="#!">Reports</a>
    </li>
{% endblock chemin %}
    





{% block content %}

<center>

    <h1 >Fire reports</h1>     
      
    <table style="padding-top:20px" id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Camera</th>
                <th>Date & time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="bd">
            {% for notification in notifications %}
                {% if notification.type == "report" %}
                <tr>
                    <td>{{ notification.id }}</td>
                    <td>{{ notification.cam_ip }}</td>
                    <td>{{ notification.date }}</td>
                    <td>
                      <a href="{{notification.path}}" class="btn btn-primary btn-sm">View</a>
                      <a href="{{notification.path}}" download class="btn btn-success btn-sm">Download</a>
                      <a href="clear" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                    
                </tr>
                
                
                
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    


  </center>


  {% endblock content %}
    

{% block javascript %}
<script type="text/javascript" src="{% static 'utils/dt.js'%}"></script>

{% endblock javascript %}
    