<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body onbeforeunload="return myFunction()">
<h1>Hello, world!</h1>
<a href="http://sd.com"><button type="button" class="btn btn-primary" onclick="myFunction()">Stop</button></a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<a href="http://sd.com"><button type="button" class="btn btn-primary" >Stop</button></a>
<h1>HTML DOM Events</h1>
<h2>The beforeunload Event</h2>

<p>Reload this page, or click on the link below to invoke the onbeforeunload event.</p>

<a href="https://www.w3schools.com">Click here to go to w3schools.com</a>
    
<script>
function myFunction() {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', '/stop_thread');
    xhr.send();
  return "Write something clever here...";
}
</script>
</body>
</html>

