{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
                Base template
        {% endblock title %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Oussama ezziane" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/logo.png'%}" type="image/x-icon">
    <!-- Google font-->     <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- Required Fremwork -->


    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawsome.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/datatable/dataTables.bootstrap4.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/datatable/responsive.bootstrap4.min.css'%}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'assets/pages/waves/css/waves.min.css'%}" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css'%}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/font-awesome/css/font-awesome.min.css'%}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css'%}">
    {% block stylesheets %}
    
    {% endblock stylesheets %}
    <style>
    
        .notification-unread {
            background-color: #f5f5f5;
            font-weight: bold;
        }
        .notification-read {
            background-color: white;
        }
        
    </style>
</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="loader-track">
        <div class="preloader-wrapper">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                        <i class="ti-menu"></i>
                    </a>
                    <div class="mobile-search waves-effect waves-light">
                        <div class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter Keyword">
                                    <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <img src="{% static 'assets/images/305.png'%}" style="width:50px;height:50px;margin-top:-5px;" class="img-radius text-center" alt="User-Profile-Image">
                    </a>
                    <a class="mobile-options waves-effect waves-light">
                        <i class="ti-more"></i>
                    </a>
                </div>
            
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li>
                            <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                        </li>
                        <li class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <i class="ti-fullscreen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right" >
                        <li class="header-notification" id="notificationlist">
                            
                        
                        </li>
                        
                        <li class="user-profile header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <img src="/media/{{user.img}}" class="img-radius" alt="User-Profile-Image">
                                <span>{{request.user.username}}</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">
                                <li class="waves-effect waves-light">
                                    <a href="#!">
                                        <i class="ti-settings"></i> Settings
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="/myaccount">
                                        <i class="ti-user"></i> Profile
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="email-inbox.html">
                                        <i class="ti-email"></i> My Messages
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="auth-lock-screen.html">
                                        <i class="ti-lock"></i> Lock Screen
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="/accounts/logout">
                                        <i class="ti-layout-sidebar-left"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-header">
                                <img class="img-80 img-radius" src="/media/{{user.img}}" alt="User-Profile-Image">
                                <div class="user-details">
                                    <span id="more-details">{{request.user.username}}<i class="fa fa-caret-down"></i></span>
                                </div>
                            </div>
                        
                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">
                                        <a href="/myaccount"><i class="ti-user"></i>View Profile</a>
                                        <a href="#!"><i class="ti-settings"></i>Settings</a>
                                        <a href="/accounts/logout"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                
                        


                        <div class="pcoded-navigation-label" data-i18n="nav.form-components.main">Dashboard</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="
                            {% block stats_sidebar %}
                                
                            {% endblock stats_sidebar %}
                                 ">
                                <a href="/stats" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-stats-up"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Statistics</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="
                            {% block reports_sidebar %}
                                
                            {% endblock reports_sidebar %}
                                 ">
                                <a href="/reports" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-clipboard"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Reports</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="pcoded-navigation-label" data-i18n="nav.form-components.main">Streaming server</div>
                        
                       <ul class="pcoded-item pcoded-left-item">


                            <li class="
                            {% block cameras_sidebar %}
                                
                            {% endblock cameras_sidebar %}
                                 ">
                                <a href="/streaming_server_cameras" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-camera"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Cameras</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="
                            {% block map_sidebar %}
                                
                            {% endblock map_sidebar %}
                                 ">
                                <a href="/map" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-map"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Map</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="
                            {% block history_sidebar %}
                                
                            {% endblock history_sidebar %}
                                 ">
                                <a href="/history" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-server"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">History</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                        
                        <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Accounts management</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="
                            {% block myaccount_sidebar %}
                                
                            {% endblock myaccount_sidebar %}
                                 ">
                                <a href="/myaccount" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">My account</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>


                            <li class="
                            {% block admins_sidebar %}
                                
                            {% endblock admins_sidebar %}
                                 ">
                                <a href="/admins" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-unlock"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Admins</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>

                            <li class=" 
                            {% block users_sidebar %}
                                
                            {% endblock users_sidebar %}
                                 ">
                                <a href="/users" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-face-sad"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Simple users</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>

                            <li class=" 
                            {% block logs_sidebar %}
                                
                            {% endblock logs_sidebar %}
                                 ">
                                <a href="/logs" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-zip"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Logs</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                    
                        </ul>
                        
                        <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Traitement server</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="
                            {% block traitement_sidebar %}
                                
                            {% endblock traitement_sidebar %}
                                 ">
                                <a href="/firedetection" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-rocket" style="color: red;"></i>
                                        <b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Fire detection</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                    
                        </ul>
                    

                    </div>
                </nav>
                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"> 
                                            {% block titre %}
                                            Sample Page
                                        {% endblock titre %}</h5>
                                        <p class="m-b-0">
                                            
                                            {% block definition %}
                                                lorem
                                            {% endblock definition %}
                                                
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="breadcrumb-title">
                                        
                                        {% block chemin %}
                                            
                                        {% endblock chemin %}
                                            
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Content -->
                                            {% block content %}
                                            
                                            {% endblock content %}

                                            <!-- Content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="styleSelector">
                
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/3.5.1.js'%}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js'%}"></script>     
    <script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js'%}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery/jquery.dataTables.min.js'%}"></script>
    
    <script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js'%}"></script> 
    <script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js'%}"></script>
<!-- waves js -->
<script src="{% static 'assets/pages/waves/js/waves.min.js'%}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js'%}"></script>
<!-- modernizr js -->
    <script type="text/javascript" src="{% static 'assets/js/SmoothScroll.js'%}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<script src="{% static 'assets/js/pcoded.min.js'%}"></script>
<script src="{% static 'assets/js/vertical-layout.min.js'%}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'assets/js/script.js'%}"></script>


<script type="text/javascript" src="{% static 'assets/js/jquery/dataTables.responsive.min.js'%}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery/dataTables.bootstrap4.min.js'%}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery/responsive.bootstrap4.min.js'%}"></script>
{% block javascript %}

{% endblock javascript %}
<script>
    function markNotificationAsRead(id) {
        // Send an AJAX request to mark the notification as read
        $.ajax({
            url: '/mark_notification_as_read/'+id,
            type: 'GET',
            success: function(response) {
                //
            },
            error: function() {
                alert('An error occurred while marking the notification as read.');
            }
        });
    }
    </script>
    <script>
        function updateNotifications() {
            $.ajax({
                url: '/update_notifications',
                type: 'GET',
                success: function(response) {
                    // Update the notifications on the page with the data received from the server
                    // For example:
                    // $('#notification-list').html(response.html);
                    $("#notificationlist").html(response);
                },
                error: function(xhr, status, error) {
                    console.log('Error while retrieving notifications:', error);
                }
            });
        }
        
        // Call the updateNotifications() function every 5 seconds
        setInterval(updateNotifications, 5000);
        updateNotifications();
    </script>
</body>

</html>
